<div class="row justify-content-center mt-0">
    <div class="col card pt-2" id="deventrycard">
        <h3>Add New Device</h3>
        <form  [formGroup]="devcontrols" (ngSubmit)="addDevice(emp)" action="">
            <div class="form-group">
                <input class="form-control" type="text" name="sn" id="" placeholder="Device's serial number" formControlName="sn">
                <div *ngIf="!devcontrols.controls.sn.valid && (devcontrols.controls.sn.dirty||devcontrols.controls.sn.touched)">
                    This sn already exists
                </div>
            </div>    
            <div class="form-group">
                <input class="form-control" type="text" name="description" id="" placeholder="Device's description" formControlName="description">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="type" id="" placeholder="Device's type" formControlName="type">
            </div>
            <div class="btn-group form-group">
                <button data-toggle="modal" data-target="#refmodal" [disabled]="!devcontrols.valid" type="submit" class="btn btn-success">Submit</button>
                <button (click)="formReset()" type="button" class="btn btn-secondary">Reset</button>
            </div>
            <div class="form-group">
                <button (click)="toggledevform();formReset()" type="button" class="btn btn-danger btn-sm">close</button>
            </div>
        </form>
    </div>
</div>



