<div class="row justify-content-center mt-0">
    <div class="col card pt-2" id="devupdatecard">
        <h3>Edit Device</h3>
        <form *ngIf="updatetoggle" [formGroup]="devcontrol" (ngSubmit)="editDevice(mydev)" action="">
            <div class="form-group">
                <p>You must update device's serial-number to continue</p>
                <input class="form-control" type="text" name="sn" id="" placeholder="Device's serial number" formControlName="sn">
                <div *ngIf="!devcontrol.controls.sn.valid && (devcontrol.controls.sn.dirty||devcontrol.controls.sn.touched)">
                    This sn already exists
                </div>
            </div>    
            <div class="form-group">
                <input class="form-control" type="text" name="description" id="" placeholder="Device's description" formControlName="description">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="type" id="" placeholder="Device's type" formControlName="type">
            </div>
            <div class="btn-group form-group">
                <button data-toggle="modal" data-target="#refmodal" type="submit" class="btn btn-success">Submit</button>
                <button (click)="formReset()" type="button" class="btn btn-secondary">Reset</button>
            </div>
            <div class="form-group">
                <button (click)="updatetoggle=!updatetoggle" type="button" class="btn btn-danger btn-sm">close</button>
            </div>
        </form>
    </div>
</div>



